version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: reviewer-api
    ports:
      - "8080:8080"
#    environment:
#      - DB_USER: str = "postgres"
#      - DB_PASS: str | None = None
#      - DB_NAME: str = "postgres"
#      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: reviewer-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
