version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: reviewer-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    entrypoint: [ "sh", "/app/entrypoint.sh" ]


  db:
    image: postgres:17
    container_name: reviewer-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${DB_USER} -d $${DB_NAME}" ]
      interval: 3s
      timeout: 3s
      retries: 20
